.idea
venv
__pycache__
.DS_Store
*.pyc
.local
.ipynb_checkpoints/
.vscode
__pycache__/
.env
.circleci/update_check.yml
.circleci/cli.yml
.mypy_cache/
node_modules/
mlruns
poetry.lock
main/data/*
dot/.cache/*
main/bq_beaapp/.cache/
